/* Principal */ 
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#icono{
    margin-left: 15px;
    padding-top: 5px;
}
.principal1 {
    display: flex;
    justify-content: space-between; 
    height: 65px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#menu {
    display: flex;
}

#menu a{
    display: flex;
    padding: 20px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}
.navegació a:hover{
    background-color: #b4acac;
}
.presentació1 {
    padding-top: 30px;
    height: 90vh !important;
    background: url(/img/Optimized-pexels-aleksandar-pasaric-325185.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#projecte{
    padding-top: 50px;
}
#asd{
    padding-top: 90px;
    color: #000000;
    font-size: 25px;
}

/* Lenguajes */ 

#paraula_lenguaje{
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}

#texte2{
    margin-bottom: 40px;
    font-size: 25px;
    padding: 0 50px;
    color: #000000;
}
#tabla_lenguajes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.tabla_lenguajes .box img{
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin: 1rem 0;
    padding: 0 20px;
    margin-bottom: 70px;
}

/* Proyectos */

#seccio{
    background-color:#000000;
}

#paraulas{
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
#texte{
    margin-bottom: 40px;
    font-size: 25px;
    padding: 0 50px;
    color: #fff;
}

#tabla_projectes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.tabla_projectos .box img{
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin: 1rem 0;
    padding: 0 50px;
}
.tabla_projectos .box h4{
    font-size: 20px;
    color: #ffffff;
    padding: 0 20px;
    margin-bottom: 20px;
}
.tabla_projectos .box p{
    font-size: 12px;
    padding: 0 25px;
    padding-bottom: 40px;
}

/* Localització */

#lloc{
    margin: 2rem;
    background-color: #ffffff;
}
.AboutMe .About{
    margin-bottom: 40px;
    padding-top: none;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}
#aaa{
    font-size: 15px;
    text-transform: none;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}



@media(max-width: 700px) {
    #paraula_lenguaje{
        margin-bottom: 0;
        font-size: 40px;
    }
    #asd{
        font-size: 20px;

    }
    #paraulas{
        margin-bottom: 0;
        font-size: 40px; 
    }
    #menu a{
        font-size: 8px;
    }
    
}
